.contact-btn {
  border: 1px solid rgba(195, 99, 29, 75%);
  border-radius: 52px;
  width: 189px;
  height: 60px;
  background-color: rgba(195, 99, 29, 75%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact-btn:hover,
.contact-btn:focus {
  /* background-color: rgba(195, 99, 29, 75%); */
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.hero-section {
  background-color: #fff;
  background-image: url(../images/hero-image.jpg);
  height: 789px;
}

.nav-item:hover {
  background-color: rgba(195, 99, 29, 75%);
  color: #fff;
  border-radius: 40px;
  /* width: 138px;
  height: 36px; */
  color: #fff;
}

.hero-description {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}
.nav-link {
  color: #fff;
}
.section {
  padding-top: 94px;
}

a {
  text-decoration: none;
}
